################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OverclockedRazor/v15/Server/sqlite3
/.vs/OverclockedRazor/v15/.suo
