@page
@model OverclockedRazor.Pages.Clientele.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
            <div class="form-group">
                <label asp-for="Client.FirstName" class="control-label"></label>
                <input asp-for="Client.FirstName" class="form-control" />
                <span asp-validation-for="Client.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.LastName" class="control-label"></label>
                <input asp-for="Client.LastName" class="form-control" />
                <span asp-validation-for="Client.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Email" class="control-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.DOB" class="control-label"></label>
                <input asp-for="Client.DOB" class="form-control" />
                <span asp-validation-for="Client.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.BSex" class="control-label"></label>
                <input asp-for="Client.BSex" class="form-control" />
                <span asp-validation-for="Client.BSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.height" class="control-label"></label>
                <input asp-for="Client.height" class="form-control" />
                <span asp-validation-for="Client.height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.weight" class="control-label"></label>
                <input asp-for="Client.weight" class="form-control" />
                <span asp-validation-for="Client.weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.chest" class="control-label"></label>
                <input asp-for="Client.chest" class="form-control" />
                <span asp-validation-for="Client.chest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.waist" class="control-label"></label>
                <input asp-for="Client.waist" class="form-control" />
                <span asp-validation-for="Client.waist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.hip" class="control-label"></label>
                <input asp-for="Client.hip" class="form-control" />
                <span asp-validation-for="Client.hip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.neck" class="control-label"></label>
                <input asp-for="Client.neck" class="form-control" />
                <span asp-validation-for="Client.neck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.forearm" class="control-label"></label>
                <input asp-for="Client.forearm" class="form-control" />
                <span asp-validation-for="Client.forearm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.tricep" class="control-label"></label>
                <input asp-for="Client.tricep" class="form-control" />
                <span asp-validation-for="Client.tricep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.bicep" class="control-label"></label>
                <input asp-for="Client.bicep" class="form-control" />
                <span asp-validation-for="Client.bicep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.thigh" class="control-label"></label>
                <input asp-for="Client.thigh" class="form-control" />
                <span asp-validation-for="Client.thigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.calf" class="control-label"></label>
                <input asp-for="Client.calf" class="form-control" />
                <span asp-validation-for="Client.calf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
