@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Russo+One');

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-family: 'Roboto Condensed','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.parallax {
    /* The image used */
    background-image: url("../img/Fitness.jpg");
    /* Set a specific height */
    height: 300px;
    align-content: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}